<div class="center">

<h1>Who am I?</h1>


<img src="/assets/images/hkpic.jpg" alt="Profile Picture" height="35%" width="35%">


<p>
 Hey! My name is Kevin and I'm an aspiring Software Developer. I've always been drawn to developing since I started courses in highschool, but somehow got lost in the excitement of jobs that required traveling. No matter how lost one becomes however, we're naturally drawn to what we're destined to do, so here I am!
</p>
<p>
 In my free time, I like to create all sorts of fun and entertaining things such as; funny videos, gifs, memes, games, apps, websites, stories, blogs, and more. 

 This website is one of many firsts for me and I'll continue to improve my skills from here on out!
</p>

<a href="https://www.linkedin.com/in/kevin-lewis-04a76581/" target="_blank" id="icon">
<img src="assets\icons\linked.png" alt="LinkedIn Icon" ></a>
	
</div>










