<div class="bg">

<div class="container">
    <div class="starter-template">
        <h1>Welcome to my</h1> 
        <h1 id="homeTitle">{{title}}</h1>
        <p class="lead">My online home to learn more about me and things I'm working on.
          <br> Click below for more information and links!  </p>
    </div>
</div>
</div>

<!-- Tabs-->
<!-- Tabs for Android Apps-->
<div id="tabParent">
<mat-tab-group>
<mat-tab label="Apps">
<div class="wrapper" >
<div>
    <mat-card class="example-card">
    <mat-card-header>
    <div mat-card-avatar class="app-header-image"></div>
    <mat-card-title id="Title">Tasks with Sagiri</mat-card-title>
    <mat-card-subtitle>Android App: Android</mat-card-subtitle>
    </mat-card-header>
    <br>
    <a href="https://play.google.com/store?hl=en" target="_blank">
    <img mat-card-image src="assets\images\tasks.jpg" alt="Photo of a Tasks App">
    </a>
    <mat-card-content [style.overflow]="'auto'" [style.height.px]="'200'" >

    <p>
      <strong>Details:</strong> 
      <br>
      My first of many Waifu Integrated apps that adds a much needed twist to everyday tasks. Sagiri becomes happier or angrier depending on how much you're procrastinating, so get those tasks done!
    </p>

    <p>
      <strong>Soon to be added:</strong> Menu, Notifications, More! 
    </p>
   
    </mat-card-content>
    <mat-card-actions id="blogLinks">
    <a href="https://play.google.com/store?hl=en" target="_blank">Download</a>
    </mat-card-actions>
    </mat-card>
</div>


</div>
</mat-tab>

<!-- Tab for Games -->

<mat-tab label="Games">
<div class="wrapper" >
<div >
    <mat-card class="example-card">
    <mat-card-header>
    <div mat-card-avatar class="game-header-image"></div>
    <mat-card-title id="Title">Key Stone!</mat-card-title>
    <mat-card-subtitle>Unity Game: Android, PC</mat-card-subtitle>
    </mat-card-header>
    <br>
    <a href="https://play.google.com/store?hl=en" target="_blank" target="_blank">
    <img mat-card-image src="assets\images\keystoneImage.jpg" alt="Photo of a Key Stone Game">
  </a>
    <mat-card-content [style.overflow]="'auto'" [style.height.px]="'200'" >
    
    <strong>Details:</strong> 
      <br>
     <p>
      A fun 2D puzzle game!
    </p>
      <br>
      <h4>Under Phase 1 Development!</h4>
    
     
    </mat-card-content>
    <mat-card-actions id="blogLinks">
    <a href="https://play.google.com/store?hl=en" target="_blank">Download</a>
    </mat-card-actions>
    </mat-card>
</div>
</div>    
</mat-tab>

<!-- Tab for Blogs -->

<mat-tab label="Blogs">
<div class="wrapper">
<div>
  <mat-card class="example-card">
    <mat-card-header>
    <div mat-card-avatar class="blog-header-image"></div>
    <mat-card-title id="Title">Anime by Moonlight!</mat-card-title>
    <mat-card-subtitle>Blog: Show Reviews, Song Translations</mat-card-subtitle>
    </mat-card-header>
    <br>
    <a href="https://animebymoonlight.blogspot.com/p/blog-page.html" target="_blank">
    <img mat-card-image src="assets\images\blog.png" alt="Photo of a My anime blog">
    </a>
    <mat-card-content [style.overflow]="'auto'" [style.height.px]="'200'" >
    <strong>Details:</strong> 
      <br>
    <p>
     "Your home for Song Lyric Translations and Anime, Manga, and Drama reviews!"
    </p>
    </mat-card-content>
    <mat-card-actions id="blogLinks">
    <a href="https://animebymoonlight.blogspot.com/" target="_blank" >Visit!</a>
    </mat-card-actions>
    </mat-card>





</div>
</div>
</mat-tab>
</mat-tab-group>
</div>
